header {
    z-index: 1;
}
.hero {
    position: relative;
    background-color: unset;
    background-image: linear-gradient(rgb(212, 221, 247, 0.5) 0 calc(100% - 5em), var(--secondary-color) 100%);
    background-image: linear-gradient(color-mix(in srgb, var(--primary-color) 50%, transparent) 0 calc(100% - 5em), var(--secondary-color) 100%);
    padding-bottom: 5em;
}
.hero::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-image: url(hero_image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // opacity: 0.5;
}
.hero .heading-text, .hero .title-text {
    border-left: none;
}
.heading-text {
    font-size: 50px;
}
.title-text {
    text-wrap: balance;
}
.logo img, .hero-image {
    border-radius: 50%;
}
.hero-image {
    width: 200px;
}
main {
    justify-content: center;
}
.content {
    display: unset;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 0.25em 0.5em;
}
tr:nth-child(even) {
    background-color: var(--primary-color);
}
tr:nth-child(odd) {
    background-color: var(--secondary-color);
}
footer {
    font-family: var(--text-font-family);
}
footer p {
    margin: 0;
}
